/* style for booking market */

#booking-options-content > div {
    border: 1px solid #efbdb8;
    margin-top: 10px;
}
#booking-options-content > div > div.fieldset-wrapper-title {
    background: #f7f3eb none repeat scroll 0 0;
    border-bottom: 1px solid #efbdb8;
    height: 50px;
}
#booking-options-content > div > div.fieldset-wrapper-title div.actions button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
#booking-options-content > div > div.fieldset-wrapper-content {
    background: white none repeat scroll 0 0;
}
#booking-options-content > div > div.fieldset-wrapper-content fieldset.booking-option-content-row-1 {
    float: left;
    width: 100%;
}
#booking-options-content > div > div.fieldset-wrapper-content fieldset.booking-option-content-row-1 > div {
    float: left;
    width: 20%;
}
#booking-options-content > div > div.fieldset-wrapper-content fieldset.booking-option-content-row-3 > div {
    float: left;
    width: 80%;
}
.bk-content-option-dropdown {
    float: left;
    width: 101%;
}
.bk-content-option-dropdown div.bk-option-select-row {
    float: left;
    width: 100%;
}
.bk-content-option-dropdown div.bk-option-select-row div.control-booking-fileds-input {
    float: left;
    width: 40%;
}
.control-booking-fileds-label {
    float: left;
    width: 80%;
}
.control-booking-fileds-label > label {
    float: left;
    width: 40%;
}
#booking-discounts-content > div {
    border: 1px solid #efbdb8;
    margin-top: 10px;
    float: left;
    width: 100%;
}
#booking-discounts-content > div > div.fieldset-wrapper-title {
    background: #f7f3eb;
    height: 50px;
    border-bottom: 1px solid #efbdb8;
}
#booking-discounts-content > div > div.fieldset-wrapper-title div.actions button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
#booking-discounts-content > div > div.fieldset-wrapper-content fieldset fieldset {
    float: left;
    width: 100%;
}
#booking-discounts-content > div > div.fieldset-wrapper-content fieldset fieldset div.field-discount-input-type {
    width: 25%;
}
.field-facility-input-type {
    float: left;
    width: 33%;
}
#booking-tab-facilities-contenter .fieldset-wrapper-title strong
{
    float: left;
    margin-top: 10px;
}
/* style table contet */
.booking-table-items {

    width: 99%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.booking-table-items .booking-list-items-header {
    background: #dddddd none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
}
.booking-table-items .booking-list-items-header .booking-label:last-child{border:none;}
.booking-table-items .booking-list-items-content {
    float: left;
    width: 100%;
}
.booking-table-items  .bk-list-item{
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.booking-table-items .booking-list-items-header .booking-label {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    text-align:center;
    width: 12%;
}
.booking-table-items .booking-list-items-content .booking-data:last-child{border:none;}
.booking-table-items .booking-list-items-content .booking-data {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: 0;
    text-align: center;
    width: 12%;
}
.booking-table-items .booking-data-edit, #booking-list-calendar-items .booking-data-dell
{
    cursor: pointer;
}
.booking-table-items .bk-list-item-last
{
    border-bottom: none;
}
#booking-list-facility-items .booking-label
{
    width: 20%;
}
#booking-list-facility-items .booking-label-facility-input
{
    width: 10%;
}
#booking-list-facility-items .booking-label-facility-description
{
    width: 69%;
}
#booking-list-facility-items .booking-data
{
    width: 20%;
}
#booking-list-facility-items .booking-data-facility-input
{
    width: 10%;
}
#booking-list-facility-items .booking-data-facility-description
{
    width: 69%;
}
#booking-list-room-items span.booking-label, #booking-list-room-items span.booking-data
{
    width: 15%;
}
#booking-list-room-items span.booking-label-description, #booking-list-room-items span.booking-data-description
{
    width: 24%;
}
#bk-room-list-room-items span.booking-label, #bk-room-list-room-items span.booking-data
{
    width: 15%;
}
#bk-room-list-room-items span.booking-label-description, #bk-room-list-room-items span.booking-data-description
{
    width: 24%;
}
#booking-tab-facilities
{
    float: left;
    width: 100%;
}
#booking-tab-facilities-contenter .fieldset-wrapper-content
{
    float: left;
    width: 100%;
}

