<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                                <!-- End Content -->
                                </td>
                            </tr>
                            <tr class="top_footer top_footer_two">
                                <td>
                                    <div class="box-row">
                                        <div class="box box1">
                                            <h4 class="box-title">{{trans "Get in touch"}}</h4>
                                            <p>{{trans "Our local and experienced support team will assist you from 8am. to 7pm. (GMT-3)"}}</p>
                                        </div>
                                        <div class="box box2">
                                            <h4 class="box-title"><img src="{{view url='images/icons/phone.png'}}"/>  {{trans "Phone"}}</h4>
                                            <div class="list-phone">
                                                <p><strong>ARG:</strong> +54 (11) 32155641</p>
						<p><strong>WAPP:</strong> +54 (11) 32155641</p>
                                                <!--p><strong>BRA:</strong> +55 (21) 40 42 92 51</p>
                                                <p><strong>USA:</strong> +1 (347) 284 6292</p-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box box3">
                                            <h4 class="box-title">{{trans "Follow us"}}:</h4>
                                            <div class="list-social">
                                                <a href="https://www.facebook.com/daytours4u" class="link"><img src="{{view url="Magento_Email::images/footer/facebook.png"}}"/></a>
                                                <a href="https://twitter.com/daytours4u" class="link"><img src="{{view url="Magento_Email::images/footer/twitter.png"}}"/></a>
                                                <a href="https://www.instagram.com/daytours4u" class="link"><img src="{{view url="Magento_Email::images/footer/instagram.png"}}"/></a>
                                                <a class="link" href="https://www.pinterest.com/daytours4u/?autologin=true"><img src="{{view url="Magento_Email::images/footer/pinterest.png"}}"/></a>
                                                <a href="https://www.youtube.com/channel/UCXcpcJz-myl7pUVM4efOuVg" class="link"><img src="{{view url="Magento_Email::images/footer/youtube.png"}}"/></a>
                                                <a class="link" href="https://www.linkedin.com/company/bsas4u"><img src="{{view url="Magento_Email::images/footer/linked-in.png"}}"/></a>
                                                <a class="link" href="https://plus.google.com/+daytours4utours"><img src="{{view url="Magento_Email::images/footer/google-plus.png"}}"/></a>
                                            </div>
                                        </div>
                                        <div class="box box4">
                                            <h4 class="box-title"><img src="{{view url='images/icons/email.png'}}"/>  {{trans "Email"}}</h4>
                                            <p><a href="mailto: hola@daytours4u.com">hola@daytours4u.com</a></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="box-daytours" style="background: url({{view url='images/banner_footer_email.jpg'}})">
                                <td align="center">
                                    <a class="link-daytours" href="http://www.daytours4u.com">www.daytours4u.com</a>
                                    <br/>
                                    <p>{{trans "You are receiving this email because you expressed interest in Daytours4u.com updates"}}</p>
                                    <a class="link-sub" href="#">{{trans "Unsuscribe newsletter"}}</a> | <a class="link-sub" href="#">{{trans "Update subscription preferences"}}</a>
                                    <div class="logo-footer">
                                        <a href="http://www.daytours4u.com">
                                            <img src="{{view url='images/logo-daytours-white.png'}}"/>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="payments">
                    <td align="center"><img src="{{view url='images/payment-cart.png'}}"/></td>
                </tr>
                <tr class="copyright">
                    <td align="center">
                        <span>{{trans "© Daytours4u 2018. All rights reserved"}}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
