<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Popup
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="daytours4u" translate="label" sortOrder="300">
            <label>Daytours 4u</label>
		</tab>

		<section id="newsletterdt" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Newsletter</label>
            <tab>daytours4u</tab>
            <resource>Daytours_Newsletter::config_newsletter</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Coupon code to subscribers</label>
                <field id="coupon" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Coupon name</label>
                    <comment>Put here the coupon name to validate.</comment>
                </field>
            </group>
		</section>
	</system>
</config>
