<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="DigitalHub\Ebanx\Gateway\Response\Brazil\CreditCard\AuthorizationHandler" type="Daytours\Ebanx\Override\Gateway\Response\Brazil\CreditCard\AuthorizationHandler" />

</config>