<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Reserva de ultimo momento para la fecha {{var booking_date}}: {{var customer_name}} X {{var qty_person}} {{var activity}} @-->
<!--@vars {
"var booking_date":"Booking date",
"var customer_name":"Customer name",
"var qty_person":"qty person",
"var activity":"Name Activity",
"var operator_name":"Operator name",
"var name":"Name Service",
"var service":"Service name",
"var date_service":"Date of service",
"var hour":"Service hour",
"var pax_number":"Pax Number",
"var meeting_point":"Meeting point",
} @-->

<p>
    Estimado {{var operator_name}}
</p>
<p>
    Te pido apoyo con la siguiente reserva por favor
</p>

<table>
    <tr>
        <td><strong>Nombre</strong></td>
        <td>{{var name}}</td>
    </tr>
    <tr>
        <td><strong>Servicio:</strong></td>
        <td>{{var service}}</td>
    </tr>
    <tr>
        <td><strong>Fecha:</strong></td>
        <td>{{var date_service}}</td>
    </tr>
    <tr>
        <td><strong>Hora:</strong></td>
        <td>{{var hour}}</td>
    </tr>
    <tr>
        <td><strong>Número de pax:</strong></td>
        <td>{{var pax_number}}</td>
    </tr>
    <tr>
        <td><strong>Punto de encuentro:</strong></td>
        <td>{{var meeting_point}}</td>
    </tr>
    <tr>
        <td><strong>Información adicional:</strong></td>
        <td>Esta es una reserva automática por favor recibir el cliente al servicio sin ningún pago, para datos adicionales por favor contactar al 11-35594334.</td>
    </tr>

</table>

<p>
    Quedamos atentos a cualquier comentario, desde ya, gracias de antemano.
</p>
<p>Que tengas lindo día.</p>