<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing" >
                    <resource id="Daytours_Quote::main" title="Newsletter" sortOrder="200">
                        <resource id="Daytours_Quote::config_subscriber_coupon" title="Coupon to subscriber discount" sortOrder="1"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
