.partial-payment-checkbox {
    background: linear-gradient(32deg,#7124be, #37a3dc);
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.partial-payment-checkbox .label:first-child {
    font-weight: 800;
    font-size: 18px;
    width: 150px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.partial-payment-checkbox .control {
    width: auto !important;
    display: flex;
    align-items: center;
}

.partial-payment-checkbox .control .choice {
    display: flex;
    align-items: center;
    width: fit-content;
}
.partial-payment-checkbox .control .choice .price-notice{
    display: none;
}
.partial-payment-checkbox .control .choice input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 0px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.partial-payment-checkbox .control .choice .label{
    font-size: 20px;
    font-weight: bold;
}
/* .partial-payment-checkbox .control .price-notice {
    display: none;
}

.partial-payment-checkbox .control .fieldset > .field .choice input,
.partial-payment-checkbox .control .fieldset > .fields > .field .choice input {
    vertical-align: middle;
}

.partial-payment-checkbox .control input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 0px;
} */
