<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Translation\Model\Json\PreProcessor" type="Daytours\Translation\Model\Json\PreProcessor" />-->
</config>
